@charset "UTF-8";
/* line 17, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../../src/sass/audio.scss */
#wrapper {
  font-family: sans-serif;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 20px auto;
  font-size: 13px;
}

/* line 15, ../../src/sass/audio.scss */
#block-header {
  overflow: hidden;
  background-color: #000088;
}
/* line 19, ../../src/sass/audio.scss */
#block-header h1 {
  float: left;
  line-height: 2em;
  padding: 0em 1em;
  color: #aaaaff;
  font-weight: bold;
}

/* line 28, ../../src/sass/audio.scss */
#list-nav {
  float: right;
}
/* line 31, ../../src/sass/audio.scss */
#list-nav li {
  display: inline-block;
}
/* line 34, ../../src/sass/audio.scss */
#list-nav .btn-nav {
  text-decoration: none;
  line-height: 2em;
  padding: 0.5em;
  color: white;
}
/* line 40, ../../src/sass/audio.scss */
#list-nav .btn-nav:hover {
  background-color: #aaaaff;
  color: #333333;
}
/* line 45, ../../src/sass/audio.scss */
#list-nav .btn-nav.active {
  background-color: #000044;
  cursor: default;
}
/* line 49, ../../src/sass/audio.scss */
#list-nav .btn-nav.active:hover {
  color: white;
}

/* line 56, ../../src/sass/audio.scss */
.block-content {
  display: none;
  border: solid 1px #000044;
  padding: 1em;
}
/* line 63, ../../src/sass/audio.scss */
.block-content.active {
  display: block;
}
/* line 67, ../../src/sass/audio.scss */
.block-content h1 {
  font-size: 120%;
  font-weight: bold;
  padding-bottom: 0.5em;
}
/* line 72, ../../src/sass/audio.scss */
.block-content h2 {
  font-weight: bold;
}
/* line 75, ../../src/sass/audio.scss */
.block-content p, .block-content li {
  padding: 0.5em 0em;
}
/* line 78, ../../src/sass/audio.scss */
.block-content li:before {
  content: '・';
}
/* line 81, ../../src/sass/audio.scss */
.block-content strong {
  font-weight: bold;
  margin-right: 0.5em;
}

/* line 87, ../../src/sass/audio.scss */
#block-footer {
  font-size: 80%;
  background-color: #000088;
  color: white;
  text-align: center;
  padding: 0.5em 0em;
}

@media (max-width: 640px) {
  /* line 2, ../../src/sass/_sp.scss */
  #wrapper {
    margin: 0px auto;
  }

  /* line 6, ../../src/sass/_sp.scss */
  #block-header h1 {
    float: none;
    text-align: center;
  }
  /* line 10, ../../src/sass/_sp.scss */
  #block-header #list-nav {
    float: none;
    text-align: center;
  }
}
