body {
	margin:0;
	padding:0;
	overflow:hidden;
	background:#000;
	font-family: "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "儷黑 Pro", "LiHei Pro", "新細明體", "PMingLiU", sans-serif;
	font-size: 14px;
	color:#FFF;
}

canvas {
	position:absolute;
}

#nocanvas {
	margin-top:80px;
	margin-left:20px;
}

#logo {
	position:absolute;
	top:20px;
	left:620px;
	z-index:1;
}

